<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bstyle.css') }}">
  <title>Sidebar Menu</title>
</head>

<body>
  <aside>
    <button class="menu-btn fa fa-chevron-left"></button>
    <a href="{{ url_for('index') }}" class="logo-wrapper">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Travel Buddy" class="logo">
      <span class="brand-name">Travel Buddy</span>
    </a>
    
    <div class="separator"></div>
    <ul class="menu-items">
      <li><a href="#"><span class="icon fa fa-house"></span><span class="item-name">Home</span></a><span
          class="tooltip">Home</span>
      </li>
      <li><a href="{{ url_for('recommendations') }}"><span class="icon fa fa-layer-group"></span><span class="item-name">Recommendations</span></a>
        <span class="tooltip">Recommendations</span>
      </li>
      <li><a href="{{ url_for('map') }}"><span class="icon fa fa-map"></span><span class="item-name">Map</span></a>
        <span class="tooltip">Map</span>
      </li>
      <li><a href="{{ url_for('leaderboard') }}"><span class="icon fa fa-chart-simple"></span><span class="item-name">Leaderboard</span></a>
        <span class="tooltip">Leaderboard</span>
      </li>
      <li><a href="{{ url_for('dashboard') }}"><span class="icon fa fa-user"></span><span class="item-name">Account</span></a>
        <span class="tooltip">Account</span>
      </li>
      <li><a href="#"><span class="icon fa fa-gear"></span><span class="item-name">Settings</span></a>
        <span class="tooltip">Settings</span>
      </li>
      <li><a href="{{ url_for('login') }}"><span class="icon fa fa-door-open"></span><span class="item-name">Logout</span></a>
        <span class="tooltip">Logout</span>
      </li>
    </ul>
  </aside>
  <main></main>
  <script src="{{ url_for('static', filename='bscript.js') }}"></script>
</body>

</html>

